<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../redux-store.html">

<dom-module id="join-component">

<template>
    <style is="custom-style">
        :host {
            display: block;
        }
        .overlay{
            background-color: #303339;
            position: absolute;
            top: 0px;
            right: 0px;
            left: 0px;
            bottom: 0px;
            z-index: 999;
            opacity: 0;
            animation: fadein 0.3s;
            animation-fill-mode: forwards;
            @apply(--layout-horizontal);
            @apply(--layout-center); 
        }
        .container{
            position: relative;
            width: 410px;
            height: 470px;
            background-color: white;
            z-index: 1000;
            opacity: 1;
            animation: fadeup 0.4s;
            animation-fill-mode: forwards;
            margin: auto;
            border-radius: 2px;
        }
        @keyframes fadein {
            from { opacity: 0; }
            to  { opacity: 0.6; }
        }
        @keyframes fadeup {
            from { 
                opacity: 0;
                top: 30px;
                }
            to  { 
                opacity: 1;
                top: 0px;
                }
        }
    </style>
    <div class="overlay" on-tap="_close"><div class="container"></div></div>
</template>

<script>
    Polymer({
        is: 'join-component',
        behaviors: [ ReduxBehavior, Polymer.AppLocalizeBehavior ],
        actions: {
            JOIN_MODAL: function(joinModal){
                return { type: 'JOIN_MODAL', joinModal: joinModal}
            }
        },
        properties: {
            mobile: {
                type: Boolean
            }
        },
        _close: function(){
            this.dispatch('JOIN_MODAL', false);
        },

    });
</script>

</dom-module>